{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center">My Library </h1>

<div class="container mt-5">
    <div class="row">
        {%for videoGame in videoGames%}
            <div class="col-3 mt-3">
                <div class="card w-100">
                    {# {{ dump(videoGame) }} #}
                    <div class="card-body">
                        <img src ={{ videoGame.backgroundImage }} height="150px" alt="GameImage">
                        {# <img src="{{ game.imgUrl }}" class="card-img-top" alt="..."> #}
                        <h5 class="game-title">{{videoGame.name}}</h5>
                        <h5 class="game-title">{{videoGame.slug}}</h5>
                    </div>                
                </div>
            </div>
        {%endfor%}
     </div>
</div>

{% endblock %}
