{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center">My Library </h1>

<div class="container mt-5">
    <div class="row">
        {% for videoGame in videoGames %}
            {# {{dump(videoGame)}} #}
            <div class="col-3 mt-3">
                <div class="card w-100">
                    <div class="card-body">
                        <img src ={{ videoGame.backgroundImage }} height="150px"=  alt="GameImage">
                        <h5 class="game-title">{{videoGame.name}}</h5>
                        <h5 class="game-title">{{videoGame.released|date('d-m-Y')}}</h5>
                        <a href="{{ path('game_rem', {'id': videoGame.id}) }}" class ="btn btn-danger">Remove Game</a>
                        {# <a href="{{ path('game_add', {'id': videoGame['id']}) }}"  class ="btn btn-primary">Add Game</a> #}

                    </div>                
                </div>
            </div>
        {% endfor %}
     </div>
</div>

{% endblock %}
